<p>Register works!</p>
<div class="card">
    <div class="card-header">
 
    </div>
    <div class="card-body">
        <form #custForm="ngForm" (ngSubmit)="saveForm(custForm)"> 
            <div>
                <label for="UserId">UserId</label>
                <div>
                    <input type="text" id="userId"
                    placeholder="UserId"
                    required class="form-control"
                    #userIdVar="ngModel"
                    [(ngModel)]="register.userId"
                    name="userId"
                    minlength="3"/>
                    
                </div>
            </div>
            <div>
                <label for="userName">userName</label>
                <div>
                    <input type="text" id="userName"
                    placeholder="userName"
                    required class="form-control"
                    #userNameVar="ngModel"
                    [(ngModel)]="register.userName"
                    name="userName"
                    minlength="3"/>
                    
                </div>
            </div>
            <div>
                <label for="userPassword">userPassword</label>
                <div>
                    <input type="text" id="userPassword"
                    placeholder="userPassword"
                    required class="form-control"
                    #userPasswordVar="ngModel"
                    [(ngModel)]="register.userPassword"
                    name="userPassword"/>
                </div>
            </div>
            <div>
                <label for="userPhone">userPhone</label>
                <div>
                    <input type="text" id="userPhone"
                    placeholder="userPhone"
                    required class="form-control"
                    #userPhoneVar="ngModel"
                    [(ngModel)]="register.userPhone"
                    name="userPhone"/>
                </div>
            </div>
            <div>
                <label for="useremail">useremail</label>
                <div>
                    <input type="text" id="useremail"
                    placeholder="abc@goo.com"
                    required class="form-control"
                    #useremailVar="ngModel"
                    [(ngModel)]="register.useremail"
                    name="useremail"
                    />
                </div>
                <div>
                    <button type="submit"  class="btn btn-primary">SaveCustomer</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div>

